div,
a,
i {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #f1f1f1;
}

.pagination {
    position: absoluted;
    top: 50px;
    width: 100%;
    text-align: center;
    /* transform: translateY(-50%) */
    margin-top: 50px;
}

.pagination a {
    margin: 6px 1px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    background-color: #000;
    position: relative;
    padding-right: 26px;
}

.pagination a:hover {
    color: #e74c3c;
}

.active {
    color: e74c3c !important;
}

.prev,
.next {
    padding-right: 12px !important;
    font-size: 20px;
}

.prev {
    border-radius: 30px 0 0 30px;
}

.next {
    border-radius: 0 30px 30px 0;
}

.pagination a::before,
.pagination a::after {
    content: "";
    position: absolute;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.num::before,
.next::after {
    border-right: 20px solid black;
    right: 100%
}

.num::after,
.prev::after {
    border-right: 20px solid #f1f1f1;
    right: 0;
}


/*file:///Users/junzhuoli/HTML/pagination/pagination_vetor/pagination.html*/